<!DOCTYPE html>
<meta charset="UTF-8">
 <head>
  <title>Event countdown</title>
  <link rel="stylesheet" href="/CSS Documents/EventCountdown_Style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
 </head>
 <body>

  <div id="wrapper">
  
  <div id="header">

    
  </div>

  <h1 style="display: inline; position: relative; font-size: 40px; top: 70px; left: 480px;">Event countdown</h1>



   <div id= "countbar" style= "display: inline-block; background-color: black; border-radius: 20px; width: 1000px; height: 300px; position: relative; top: 200px; left: 140px;">
   <p id="demo"></p>
   </div>








  <script src= "/Javascript Documents/Event countdown script.js" defer></script>
  </div>
  </body>
  </html>


  